footer {
	width: 100%;
	padding: 10px;
}

.carousel {
	margin: 10px 0;
}

body {
	background-color: #cfd8dc;
}

.cards {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-bottom: 20px;
}

.cards .card {
	margin: 0 auto;
}

.cards .card img {
	height: 400px;
}

.footer {
	position: fixed;
	bottom: 0;
	z-index: -10;
}

.contact {
	margin-top: 200px;
}
